<!DOCTYPE html>
<html lang="en">

<head>
<!-- Add head.ejs -->
<%- include('partials/head') %>
<title><%= title %></title>

</head>

<body>
  <!-- Navigation -->
      <%- include('partials/nav') %>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Personal Notes</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <form action="/notes" method="POST">
      <div class="form-group">
        <textarea class="form-control" id="noteText" name="noteText" rows="5" placeholder="Write something..."></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Add Note</button>
    </form>
  </div>


  <hr>
  <section class="notes container text-center">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <th>#</th>
        <th>Note</th>
      </thead>
          <% for (let i = 1; i<= notes.length; i++) { %>
            <tr>
              <td><%= i %></td>
              <td><%= notes[i-1]%></td>
            </tr>
          <% } %>

    </table>

  </section>

  <!-- Footer -->
  <%- include('partials/footer') %>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  
    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>
  
    <!-- my custom js file -->
    <script src="js/main.js"></script>

</body>

</html>
